

.pet-item-crud {
   margin-top: 3.4rem;
   background: var(--color-box-base);
   border: 1px solid var(--color-line-in-white);
   border-radius: .8rem;
   overflow: hidden;
   animation: bounce; /* referring directly to the animation's @keyframe declaration */
   animation-duration: 2s; /* don't forget to set a duration! */
   
}

.pet-item-crud header {
   display: flex;
   align-items: center;
   padding: 3.2rem 2rem;
}

.pet-item-crud header img {
   width: 18rem;
   height: 18rem;
   border-radius: 20%;
   object-fit: cover;
}

.pet-item-crud header div {
   margin-left: 2.4rem;
}

.pet-item-crud header div strong {
   display: block;
   font: 700 2.4rem Archivo;
   color: var(--color-text-title);
}

.pet-item-crud header div span {
   display: block;
   margin-top: .4rem;
   font-size: 1.6rem;
}

.pet-item-crud > p {
   padding: 0 2rem;
   font-size: 1.6rem;
   line-height: 2.8rem;
}

.pet-item-crud footer {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 3.2rem;
   padding: 3.2rem 2rem;
   background: var(--color-box-footer);
   border-top: 1px solid var(--color-line-in-white);
}

.pet-item-crud footer a {
   width: 20rem;
   height: 5.6rem;
   background: var(--color-secundary);
   color: var(--color-button-text);
   border: 0;
   border-radius: 0.8rem;
   cursor: pointer;
   font: 700 1.4rem Archivo;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   text-decoration: none;
   transition: 0.2s;
}

.pet-item-crud footer p strong {
   display: block;
   font-size: 1.6rem;
   color: var(--color-primary);
}

.pet-item-crud footer a:hover {
   background-color: var(--color-secundary-dark);
}
.pet-item-crud button {
   width:15%;
   height: 5.6rem;
   font: 700 1.6rem Archivo;
   color: var(--color-button-text);
   background: rgba(180, 18, 18, 0.589);
   border: 0;
   border-radius: .8rem;
   transition: .2s;
   cursor: pointer;
   align-content:flex-end;
}

.pet-item-crud button:hover{
   background: rgb(180, 18, 18);
}
.pet-item-crud footer {
   display: flex;
   align-items: center;
   margin-top: 3.2rem;
   padding: 3.2rem,2rem;
   background: var(--color-box-footer);
   border-top: 1px solid var(--color-line-in-white);
   justify-content: flex-end;
}


@media (min-width: 700px) {
   .pet-item-crud header,
   .pet-item-crud footer {
       padding: 3.2rem;
   }

   .pet-item-crud > p {
       padding: 0 3.2rem;
   }

   .pet-item-crud footer p strong {
       margin-left: 1.6rem;
       display: initial;
   }

   .pet-item-crud footer a {
       width: 24.5rem;
       font-size: 1.6rem;
       justify-content: center;
   }

   .pet-item-crud footer a img {
       margin-right: 1.6rem;
   }
}